@import "./settings/mediaQuery";
@import "./settings/reset";
@import "./settings/variables";

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 4em;

  @include mobile {
    padding: 1em;
  }

  #tabs_nav {
    position: absolute;
    top: 6em;
    left: 0;
    width: 100vw;
    border-bottom: border(light_border);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include mobile {
      display: none;
    }

    .tabs {
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: color(link_text);
        font-size: size(size_1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.7em 1.2em;
        transition: 0.3s ease-in-out;
        border-bottom: 2px solid transparent;
        margin-top: -0.9em;

        &:nth-child(2) {
          color: color(dark_link_text);
          font-weight: 600;
          border-bottom: 2px solid color(git_orange);
        }

        &:hover {
          color: color(dark_link_text);
          border-bottom: 2px solid color(light_grey);
        }

        span {
          color: color(link_text);
          font-size: size(size_3);
          margin-right: 0.5em;
        }

        .chip {
          background: color(light_grey);
          padding: 0.2em 0.5em;
          border-radius: 2em;
          font-size: size(size_1);
          font-weight: 400;
          margin-left: 0.5em;
        }
      }
    }
  }

  @include mobile {
    flex-direction: column;
    padding: 1em;
  }

  aside {
    width: 25%;
    margin-top: 2em;

    @include mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .picture {
      width: 100%;
      position: relative;

      @include mobile {
        width: 20%;
      }

      .avatar {
        img {
          width: 100%;
          border-radius: 50%;
          object-fit: contain;
        }
      }

      .face_con {
        position: absolute;
        top: 12em;
        right: 0.4em;
        z-index: 1;
        background: color(accent);
        height: 40px;
        border: border(light_border);
        border-radius: 50px;
        padding: 0 0.7em;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        span {
          color: color(primary);
        }
      }
    }

    .name {
      width: 100%;
      line-height: 0.7em;

      @include mobile {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      h1 {
        font-size: size(size_5);
        color: color(primary);
        line-height: 1em;

        @include mobile {
          margin: 0.5em 0 0 0;
        }
      }

      p {
        color: color(link_text);
        font-size: size(size_3);
        text-transform: initial;
      }
    }

    .bio {
      color: color(dark_link_text);
      font-size: size(size_2);
    }

    @include mobile {
      width: 100%;
      line-height: 1.3em;
    }
  }

  .section1 {
    #mobile_tabs_nav {
      display: none;

      @include mobile {
        width: 100vw;
        height: auto;
        border-bottom: border(light_border);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 1em;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }
      }

      .tabs {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: color(link_text);
          font-size: size(size_1);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.7em 1.2em;
          transition: 0.3s ease-in-out;
          border-bottom: 2px solid transparent;
          margin-top: -0.9em;

          &:nth-child(2) {
            color: color(dark_link_text);
            font-weight: 600;
            border-bottom: 2px solid color(git_orange);
          }

          &:hover {
            color: color(dark_link_text);
            border-bottom: 2px solid color(light_grey);
          }

          span {
            color: color(link_text);
            font-size: size(size_3);
            margin-right: 0.5em;
          }
        }
      }
    }
  }

  .section2 {
    width: 75%;
    margin-top: 4em;
    padding: 0 0 0 1.5em;

    @include mobile {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .search {
      width: 100%;
      border-bottom: border(light_border);
      margin-top: 1.5em;
      padding-bottom: 1em;

      @include mobile {
        margin: 0;
        padding: 1.5em 0 1em 0;
        border-bottom: border(light_border);
      }
    }

    .input {
      width: 100%;
      height: 2em;

      input {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: border(light_border);
        padding: 0 1em;
        outline: none;
        transition: 0.1s ease-in-out;

        &:focus {
          border: border(regular_border);
        }
      }
    }

    .results {
      width: 40%;
      color: color(link_text);
      font-size: size(size_2);
      border-bottom: border(light_border);

      @include mobile {
        width: 100%;
      }

      b {
        color: color(dark_link_text);
      }
    }

    .repositories {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 2em;
      padding-bottom: 1.5em;
      line-height: 0.9em;
      border-bottom: border(light_border);

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        a {
          font-size: size(size_3);
          font-weight: 600;
          color: color(git_blue);
          text-decoration: none;

          @include mobile {
            line-height: 1.2em;
          }
        }

        .caption {
          font-size: size(size_1);
          color: color(dark_link_text);
          text-transform: initial;

          @include mobile {
            line-height: 1.5em;
          }
        }

        .repo_details {
          display: flex;
          justify-content: flex-start;
        }

        .repo_details {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1em;
          font-size: size(size_1);
          color: color(link_text);
          font-weight: 400;
          margin-top: -1em;

          .lang {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .dot {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin-right: 0.3em;
            }
          }

          .stars,
          .branch {
            @include mobile {
              display: none;
            }
          }
        }
      }

      .right {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        button {
          background: none;
          border: border(light_border);
          border-radius: 6px;
          padding: 0.3em 1em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: color(dark_link_text);
          font-weight: 500;

          span {
            font-size: size(size_3);
          }
        }
      }
    }

    @include mobile {
      width: 100%;
    }
  }
}
